@import "tailwindcss";

* {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

html body #root {
  min-height: 100dvh;
}

button {
  cursor: pointer;
}

@theme {
  --color-bg: hsl(var(--bg));
  --color-inverse: hsl(var(--inverse));
  --color-text: hsl(var(--text));
  --color-text-secondary: var(--text-secondary);
  --color-primary: hsl(var(--primary));
  --color-secondary: hsl(var(--secondary));
  --color-accent: var(--accent);

  --animate-move-left: move-left 1s linear infinite;
  @keyframes move-left {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-33.3%);
    }
  }
}

:root {
  /* COLORS */

  scroll-behavior: smooth;

  --bg: 0, 0%, 97%;
  --inverse: 190, 0%, 8%;
  --primary: 0, 0%, 100%;
  --secondary: 162, 0%, 90%;
  --text: 0, 0%, 0%;
  --text-secondary: hsl(0, 0%, 32%);

  --accent: hsl(91, 97%, 44%);

  background: hsl(var(--bg));
}

[data-theme="dark"] {
  --bg: 0, 0%, 3%;
  --text: 0, 0%, 100%;
  --text-inverse: 0, 0%, 100%;
  --text-secondary: hsl(0, 0%, 63%);
  --primary: 190, 0%, 8%;
  --secondary: 190, 5%, 20%;
  --inverse: 0, 0%, 100%;
  
  --accent: hsl(91, 94%, 50%);

  background: hsl(var(--bg));
}

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));
